<h1>Listing Questions</h1>
<%= link_to 'New question', new_question_path %>
<ul>
<% @questions.each do |question| %>
<li>  <strong> <%= question.title %></strong> <div><%= question.content %></div> <br> <%= link_to 'Show more', question_path(question) %>  <%= link_to 'Edit', edit_question_path(question) %> <%= link_to ' Delete', question_path(question), method: :delete %></li><br>
<% end %>
</ul>
