<section class="container">
  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  <input type="text" id="search" placeholder="search questions">
</section>

<section class="container">

  <h2><%= @quote.content %></h2>
  <div id="page-wrap">
    <%= render 'all_questions' %>
  </div>

  <%= form_for @question do |f| %>
    <% if @question.errors.any? %>
      <div class="error_explanation">
        <% @question.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
    <% end %>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title, required: true %>
    </p>
    <p>
      <%= f.label :content %><br>
      <%= f.text_area :content, required: true %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</section>
