<section class="container">

  <h2><%= @quote.content %></h2>
  <div id="page-wrap">
    <%= render 'all_questions' %>
  </div>

  <%= form_for @question do |f| %>
    <% if @question.errors.any? %>
      <div class="error_explanation">
        <% @question.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
    <% end %>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :content %><br>
      <%= f.text_field :content %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</section>
