<h1>Questions</h1>

<table class="list_questions">
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Answers</th>
    <th>Votes</th>
  </tr>

  <% @questions.each do |question| %>
    <%= render 'question', question: question %>
  <% end %>
</table>
<div class="new_question">
  <%= link_to 'New Question', new_question_path, class: "new_question_link", remote: true %>
</div>

<div class="hidden">
  <%= form_for @question do |f| %>

    <% if @question.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@question.errors.count, "error") %> prohibited
          this question from being saved:
        </h2>
        <ul>
          <% @question.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :content %><br>
      <%= f.text_area :content %>
    </p>

    <p>
      <%= f.submit class: "submit_question" %>
    </p>

  <% end %>
</div>

<h3>Quote of the Day</h3>

<p><%= @quote %></p>


