<%= @quote %>
<div class='wrapper'>

  <div id='new_questions'>
    <h1 class='lrg'>List of Questions</h1>
    <% @questions.each do |question| %>
        <p>
          <%= link_to question.title, question_path(question) %>
          <br>
          <%= link_to 'Edit', edit_question_path(question) %>
          <%= link_to 'Delete', question_path(question), method: :delete %>
          Votes: <%= question.vote_totals %>
          Answers: <%= Answer.where(question_id: question.id).count %>
        </p>
    <% end %>
  </div>

  <script id="question-template" type="text/x-handlebars-template">
    <p>
      <%= link_to "{{ title }}", CGI::unescape(question_path('{{ id }}')) %>
      <br>
      <%= link_to "Edit", CGI::unescape(edit_question_path("{{id}}")) %>
      <%= link_to "Delete", CGI::unescape(question_path("{{id}}")), method: :delete %>
      Votes: <%= "{{ vote_totals }}" %>
      <%= button_to "Upvote", CGI::unescape(upvote_question_path("{{id}}")), :method => :put %>
      <%= button_to "Downvote", CGI::unescape(downvote_question_path("{{id}}")), :method => :put %>
    </p>
  </script>

  <%= form_for :question, url: questions_path, :html => { :class => 'question_form sml' } do |f| %>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :content %><br>
      <%= f.text_area :content %>
    </p>

    <p>
      <%= f.submit 'Create new Question'%>
    </p>
  <% end %>
</div>
