<% if current_user %>
  <%= form_for @question do |f| %>

    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :content %>
      <%= f.text_field :content %>
    </p>

    <%= f.hidden_field :user_id, :value => current_user.id %>

    <p>
      <%= f.submit %>
    </p>

  <% end %>
<% else %>
  <%= render 'sessions/new' %>
<% end %>
