<h1>Question</h1>

<p>
  <%= @question.title %>
</p>

<p>
  <%= @question.content %>
</p>

<p>
  <strong>Votes:</strong>
  <span class="question_votes"><%= @question.votes %></span><br>
  <%= button_to '+1', upvote_question_path(@question), method: :post, class: "vote_questions" %><br>
  <%= button_to '-1', downvote_question_path(@question), method: :post, class: "vote_questions" %>
</p>

<%= form_for @answer, url: question_answers_path(@question) do |f| %>
  <p>
    <%= f.label 'Answer the Question:' %><br>
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.submit "Add Answer", class: "add_answer" %>
  </p>
<% end %>

<table class="answer_container">
  <% @answers.order(votes: :desc).each do |answer| %>
    <%= render 'answer', answer: answer %>
  <% end %>
</table>

<br><%= link_to 'Edit Question', edit_question_path %>

<p>
  <%= link_to 'Delete Question', question_path(@question),
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
</p>

<%= link_to 'Back', questions_path %>
