<%= link_to "Go back to all the Questions!", questions_path %>

<h2><%= @question.title %></h2>
<p><%= @question.content %></p>

<% if current_user && (current_user.id == @question.user_id) %>
  <%= link_to "Edit Question", edit_question_path(@question) %>
<% end %>

<h3>Votes</h3>
<div class="votes">
  <%= render 'votes' %>
</div>


<h3>Answers: </h3>
  <div class="show-answer">
    <% @question.answers.each do |answer| %>
      <p><%= render partial: 'answers/show', locals: { answer: answer } %></p>
    <% end %>
  </div>
<%= render 'answers/new' %>
