<%= link_to "Go back to all the Questions!", questions_path %>

<h2><%= @question.title %></h2>
<p><%= @question.content %></p>
<p>Votes: <%= @question.votes %></p>

<%= form_for(@question) do |f| %>
  <p>
    <%= form_tag(question_path, method: "put") %>
  </p>

  <p>
    <%= f.submit "Upvote" %>
  </p>
<% end %>

<%= form_for(@question) do |f| %>
  <p>
    <%= form_tag(question_path, method: "put") %>
  </p>

  <p>
    <%= f.submit "Downvote" %>
  </p>
<% end %>

<% if current_user && (current_user.id == @question.user_id) %>
  <%= link_to "Edit Question", edit_question_path(@question) %>
<% end %>

<h3>Answers: </h3>
<%= render '/answer/show' %>

<h3>Add Answer: </h3>
<%= form_for([@question, @answers.build]) do |f| %>
  <% if @error %>
    <p><%= @error.first %></p>
  <% end %>

  <p>
    <%= f.label :answer %>
    <%= f.text_field :answer %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
