<%= link_to "Go back to all the Questions!", questions_path %>


<table>
  <tr>
    <td>
      <h2>Title: <%= @question.title %></h2>
    </td>
  </tr>
  <tr>
    <td>
      <p>Question: <%= @question.content %></p>
    </td>
  </tr>
  <tr>
    <td>
      <p id = "question-vote">Votes: <%= @question.votes %></p>
    </td>
  </tr>
  <tr>
    <td id = "question-vote-form">
      <%= form_tag question_path, method: "put" do %>
        <%= submit_tag "Upvote", :class => "upvote" %>
        <%= submit_tag "Downvote", :class => "downvote" %>
      <% end %>
    </td>
  </tr>
</table>


<% if current_user && (current_user.id == @question.user_id) %>
  <%= link_to "Edit Question", edit_question_path(@question) %>
<% end %>

<h3>Answers: </h3>
<%= render '/answers/show' %>



<h3>Add Answer: </h3>
<%= render '/answers/new' %>
