<%= link_to "Go back to all the Questions!", questions_path %>

<h2><%= @question.title %></h2>
<p><%= @question.content %></p>

<% if current_user && (current_user.id == @question.user_id) %>
  <%= link_to "Edit Question", edit_question_path(@question) %>
<% end %>

<h3>Votes</h3>
<%= link_to "upvote", like_question_path(@question), method: :put %>
<%= @question.get_upvotes.size %>
<%= link_to "downvote", dislike_question_path(@question), method: :put %>
<%= @question.get_downvotes.size %>
<br>Score: <%= @question.score %>

<div class="answers">
<h3>Answers: </h3>
<% @question.answers.each do |answer| %>
  <p><%= answer.answer %></p>
  <%= link_to "upvote", like_question_answer_path(@question, answer.id), method: :put %>
  <%= answer.get_upvotes.size %>
  <%= link_to "downvote", dislike_question_answer_path(@question, answer.id), method: :put %>
  <%= answer.get_downvotes.size %>
  <br>Score: <%= answer.score %>
<% end %>
</div>

<h3>Add Answer: </h3>
<div class="answer-form">
<%= form_for([@question, @question.answers.build]) do |f| %>
  <% if @error %>
    <p><%= @error.first %></p>
  <% end %>
  <div class="formz">
    <%= f.label :answer %>
    <%= f.text_field :answer %>
  </div>

  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>
