<section class="container">
  <p><%= link_to 'back', questions_path %></p>
  <h3><%= @question.title %></h3>

  <p><%= @question.content %></p>


  <h4>answers:</h4>

  <ul id="answers">
    <%= render @answers %>
  </ul>

  <%= form_for [@question, @answer] do |f| %>
    <% if @answer.errors.any? %>
      <div class="error_explanation">
        <% @answer.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
    <% end %>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title, required: true %>
    </p>
    <p>
      <%= f.label :content %><br>
      <%= f.text_field :content, required: true %>
    </p>
    <p>
      <%= f.submit %>
    </p>

  <% end %>

  <%= link_to 'Edit', question_path(@question)+'/edit', :method => :get %>
  <%= link_to 'Destroy', question_path(@question), :method => :delete %>
</section>
