<h1>Question:</h1>

<h3><%= @question.title %></h3>
<%= @question.content %>

<h1>Answers:</h1>

<% @answers.each do |answer| %>
  <h3><%= answer.title %></h3>
  <%= answer.content %>
<% end %>

<h1>Answer this Question.</h1>
<%= form_for :answer, url: answers_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Destroy', question_path, method: :delete, data: {confirm: 'Are you certain?'} %>


