<h1>Question</h1>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<p>
  <strong>Votes:</strong>
  <%= @question.votes %><br>
  <%= button_to '+1', upvote_question_path(@question), method: :post %><br>
  <%= button_to '-1', downvote_question_path(@question), method: :post %>
</p>

<%= form_for @answer, url: question_answers_path(@question) do |f| %>
  <p>
    <%= f.label 'Answer the Question:' %><br>
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.submit "Add Answer" %>
  </p>
<% end %>

<table>
  <% @answers.order(votes: :desc).each do |answer| %>
    <tr>
      <td><%= answer.content %></td>
      <td><%= link_to 'Edit', edit_question_answer_path(@question, answer) %></td>
      <td><%= link_to 'Delete', question_answer_path(@question, answer),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      <td>Votes: <%= answer.votes %></td>
      <td> <%= link_to '+1', upvote_question_answer_path(@question, answer), method: :post %><br></td>
      <td><%= link_to '-1', downvote_question_answer_path(@question, answer), method: :post %></td>
    </tr>
  <% end %>
</table>

<br><%= link_to 'Edit Question', edit_question_path %>

<p>
  <%= link_to 'Delete Question', question_path(@question),
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
</p>

<%= link_to 'Back', questions_path %>
