<h3><%= @question.title %></h3>

<p><%= @question.content %></p>


<h4>answers:</h4>

<ul>
  <% @answers.each do |an| %>
    <li>
      <a href="/answers/<%= an.id %>"><%= an.title %></a>
      <p><%= an.content %></p>
    </li>
  <% end %>
</ul>

<%= form_for @answer do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <%= f.hidden_field :question_id, value: @question.id %>
<% end %>

<%= link_to 'Edit', question_path(@question)+'/edit', :method => :get %>
<%= link_to 'Destroy', question_path(@question), :method => :delete %>
