<h1>Question:</h1>

<h3><%= @question.title %></h3>
<%= @question.content %>

<h1>Answers:</h1>

<% @answers.each do |answer| %>
  <h3><%= answer.title %></h3>
  <%= answer.content %>
  Votes: <%= answer.vote_totals %>
    <%= button_to 'Upvote', upvote_answer_path(answer), :method => :put %>
    <%= button_to 'Downvote', downvote_answer_path(answer), :method => :put %>
<% end %>

<h1>Answer this Question.</h1>
<%= form_for([@question, @question.answers.build]) do |f| %>  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Destroy', question_path, method: :delete, data: {confirm: 'Are you certain?'} %>


