<li id="<%= answer.id %>A">
  <h3><%= answer.title %></h3>
  <p><%= answer.content %></p>
  <%= link_to("Upvote", "/answers/#{answer.id}/upvote", { :class => 'upvoteA'}) %>
  <span><%= answer.vote %></span>
  <%= link_to("Downvote", "/answers/#{answer.id}/downvote", { :class => 'downvoteA'}) %>
</li>