<%= form_for :answer, :url => answers_path, :html => { id: "answer-form", class: "answer-form" } do |f| %>
  <%= hidden_field_tag(:id, @question.id) %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </p>

  <%= f.submit "Answer question" %>
<% end %>
