<div class="answer" id="<%=answer.id%>">
  <h3><%= answer.title %></h3>
  Point Count: <b class="answer_point_count_<%=answer.id%>"><%= answer.point_count %></b>
  <%= link_to "▲", "/answers/#{answer.id}/upvote", class: "answer_upvote" %>
  <%= link_to "▼", "/answers/#{answer.id}/downvote", class: "answer_downvote" %>
  <p><%= answer.content %></p>
  <hr>
</div>
