<!DOCTYPE html>
<html>
<head>
  <title>DbcOverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="intro">
    <h1>Welcome to DBC STACK OVERFLOW</h1>
    <%= image_tag("robo_cat.png", :alt => "ROBO CAT MUTHA FUCKA", class: "robo_cat", width: "200px", height: "200px") %>
    <p>Creators: "J-AM"</p>
    <p>"You ain't DOWN!"</p>
  </div>

  <%= yield %>

</body>
</html>
