<!DOCTYPE html>
<html>
<head>
  <title>DbcOverflow</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->

<!-- Optional theme -->
<link rel="stylesheet" href="application.css">
<link href='http://fonts.googleapis.com/css?family=Lobster|Abel' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-form ">
  <div class="container">
    <a class="navbar-brand" href="/questions">
      <h1 style=" margin-top: -5%;
                font-family: 'Lobster', cursive;
                font-size: 250%;">Ask Away</h1>
    </a>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
      <!-- <div class="new"> -->
        <%= link_to 'New Question?', new_question_path, method: :get%>
      <!-- </div> -->
    </div>
  </div>
</nav>

<%= yield %>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="/scripts/respond.min.js"></script>
</html>
