<h1> New Answer </h1>
<%= form_for @answer do |this| %>
  <p>
    <%= this.label :title %><br>
    <%= this.text_field :title %>
  </p>

  <p>
    <%= this.label :text %><br>
    <%= this.text_area :text %><br>
  </p>

  <p>
    <%= this.submit %>
  </p>
<%end%>
