<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit Profile', edit_user_path(@user) %>
<br>
<br>

<strong>Questions:</strong>
<% @user.questions.each do |question| %>
  <p>
    <%= question.vote_count %> |
    <%= question.title %> |
    <%= question.content %> |
    <%= question.updated_at %> |
    <%= link_to 'Edit', edit_question_path(question) %> |
    <%= link_to 'Delete', question_path(question),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
<br>

<strong>Favorite Questions:</strong>
<% @user.favorites.each do |question| %>
  <p>
    <%= question.vote_count %> |
    <%= question.title %> |
    <%= question.content %> |
    <%= question.updated_at %>
    <%= link_to 'Unfavorite', favorite_question_path(question),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
<br>

<strong>Answers:</strong>
<% @user.answers.each do |answer| %>
  <p>
    <%= answer.vote_count %> |
    <%= answer.content %> |
    <%= answer.updated_at %> |
    <%= link_to 'Edit', edit_answer_path(answer) %> |
    <%= link_to 'Delete', answer_path(answer),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
<br>

<strong>Comments:</strong>
<% @user.comments.each do |comment| %>
  <p>
    <%= comment.content %> |
    <%= comment.updated_at %>
  </p>
<% end %>
<br>

<%= link_to 'Main', questions_path %>
