<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3> What Are You Curious About Today? </h3>

    <%= form_for @question do |this| %>

      <p>
        <%= this.label :title %><br>
        <%= this.text_field :title %>
      </p>

      <p>
        <%= this.label :text %><br>
        <%= this.text_area :text %><br>
      </p>

      <p>
        <%= this.submit %>
      </p>

    <%end%>

  </div>
</div>
