<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="show-question">

      <div class="col-xs-8 col-sm-6">
        <h3><%= @question.title %><br></h3>


        <p><%= link_to "Home", questions_path %></p>
        <div>
          <p class="vote_count_<%=@question.id%>"><%=@question.vote_count%></p>
        </div>
          <div class="upvote">
            <%= button_to 'upvote', upvote_question_path(@question), method: :put %>
          </div>

          <div class="downvote">
            <%= button_to 'downvote', downvote_question_path(@question), method: :put %>
          </div>

          <div class="edit">
            <%= link_to 'Edit', edit_question_path(@question), method: :get%>
          </div><br>


        <h3>Previous Answers</h3>

        <% @answers.each do |answer| %>
          <h4><p><%= answer.title %></p></h4>
          <p><%= answer.text %></p>
        <% end %>

        </div>

      </div>


      <div class="col-xs-4 col-sm-6">
        <div class="answer_form">
        <h4>New Answer</h4>
        <%= form_for [@question, @answer] do |f| %>
          <%= f.label :title %>:
          <%= f.text_area :title %><br>

          <%= f.label :text %>:
          <%= f.text_area :text %><br>

          <%= f.submit %>

        <% end %>
        </div>
      </div>



      <hr>


    </div>
  </div>
</div>
