<%= form_for :question, url: { action: :create }, html: { id: "new_question"}  do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </p>

  <%= f.submit "Create question" %>
<% end %>
