<div class="question">
  <h3><%= link_to question.title, question_path(question) %></h3>

  <h4 class="thumbs-up">
    Upvotes:
    <span><%= question.upvote%></span>
    <%= link_to("▲", "/questions/#{question.id}/upvote") %>
  </h4>

  <h4 class="thumbs-down">
    Downvotes:
    <span><%= question.downvote%></span>
    <%= link_to("▼", "/questions/#{question.id}/downvote") %>
  </h4>

</div>

