<h1>Edit Question</h1>

<%= form_for @question, :url => question_path(@question), :html => {:method => :put} do |form| %>
<p>
  <%= form.label :title %>
  <%= form.text_field :title, :value => @question.title %>
</p>
<p>
  <%= form.label :content %>
  <%= form.text_area :content, :value => @question.content %>
</p>
<p>
  <%= form.submit %>
</p>
<% end %>
