<h1>Questions#edit</h1>


<p><%= button_to ' Edit this question', @question, :confirm => 'Are you sure?', :method => :put   %></p>

<%= form_for :question, url: question_path(@question), method: :put do |f| %>

  <p>
  <%= f.label :title %>
  <%= f.text_field :title %>
  </p>

  <p>
  <%= f.label :content %>
  <%= f.text_field :content %>
  </p>

  <%= f.submit "Create Answer" %>
<% end %>
