<div class="container">
  <h1><%= @quote %></h1>
  <div id="question_list">
    <% @questions.each do |question| %>
    <div class="count">
      <div class="this-vote">
      <%= question.vote_total %>
      </div>
      <%= link_to upvote_path(question), method: :get do %>
      <i class="fa fa-arrow-circle-o-up"></i>
        <% end %>
      <%= link_to downvote_path(question), method: :get do %>
        <i class="fa fa-arrow-circle-o-down"></i>
      <% end %>
      <a href="/questions/<%= question.id %>"><h3><%= question.title %></h3></a><br>
        <%= question.content %><br><br>
      </div>
    <% end %>
  </div>
  <%= render partial: 'new' %>
</div>

<script id="question-template" type="text/x-handlebars-template">
    {{ vote_total }}
    <a href="/questions/{{id}}/upvote"><i class="fa fa-arrow-circle-o-up"></i></a>
    <a href="/questions/{{id}}/downvote"><i class="fa fa-arrow-circle-o-down"></i></a>
    <a href="/questions/{{id}}"><h3>{{ title }}</h3></a><br>
      {{ content }}<br><br>
</script>
