<h1>All Questions</h1>
<%= link_to 'My Profile', user_path(1) %>
<%= link_to 'New Question', new_question_path %>
<table>
  <tr>
    <th>Votes</th>
    <th>Answers</th>
    <th>Title</th>
    <th>Tags</th>
    <th>Asked By</th>
    <th colspan="5"></th>
  </tr>

  <% @questions.each do |question| %>
    <tr>
      <td><%= question.vote_count %></td>
      <td><%= question.answers.length %></td>
      <td><%= link_to question.title, question_path(question) %></td>
      <td>
        <% question.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag) %>
        <% end %>
      </td>
      <td><%= link_to question.user.username, user_path(question.user) %></td>
    </tr>
  <% end %>
</table>

