<h1>Questions</h1>

<% if @response.headers["x-ratelimit-remaining"].to_i > 0 %>
  <%= @response.body %>
<% else %>
  <%= "Fucking, I dunno!" %>
<% end %>

<ul>
<% @questions.each do |quest| %>



  <li> <a href="/questions/<%= quest.id %>"> <%= quest.title %></a>

 <%= button_to "△", {:controller => :questions,
    :action => 'upvote', :question_id => quest.id }, :method => :patch %>

  <%= button_to "▽", {:controller => :questions,
    :action => 'downvote', :question_id => quest.id }, :method => :patch %>

  <%= quest.vote_counter %>

  </li>
  <p> <%= quest.content %></p>
  <% end %>
</ul>

<%= render template: "questions/_new_question" %>
