<h1>Questions</h1>
<% if @resp %>
  <% if @resp.headers["x-ratelimit-remaining"].to_i > 0 %>
    <%= @resp.body %>
  <% else %>
    <%= "Fucking, I dunno!" %>
  <% end %>
<% end %>
<ul id = 'question_list'>
<% @questions.each do |quest| %>
  <li> <a href="/questions/<%= quest.id %>"> <%= quest.title %></a>
    <%= button_to "△", {:controller => :questions,
        :action => 'upvote', :question_id => quest.id }, {:method => :patch, :class => 'upvote'} %>
    <%= button_to "▽", {:controller => :questions,
        :action => 'downvote', :question_id => quest.id }, {:method => :patch, :class => 'downvote'} %>
   <p> <%= quest.vote_counter %> </p>
  </li>
  <%= quest.content %>
  <% end %>
</ul>

<%= render template: "questions/_new_question" %>

<script id="question-display" type="text/x-handlebars-template">
<li> <a href="/questions/{{id}}"> {{ title }}</a>

<form method="post" action="/questions/{{id}}/upvote">
<div>
  <input type="hidden" name="_method" value="patch">
  <button class="upvote" type="submit">△</button>
</div>
</form>

<form method="post" action="/questions/{{id}}/downvote">
<div>
  <input type="hidden" name="_method" value="patch">
  <button class="downvote" type="submit">▽</button>
</div>
</form>


  <p>  {{ vote_counter }} </p>
</li>
  <p> {{ content }}</p>

</script>
