<h1> POOP OVERFLOW</h1>
<h2> Here are all the questions: </h2>
<h3>Title</h3>

<ul id="question_list">
  <% @questions.each do |question| %>
    <li>

      <div><b>Question: </b><%=question.title%> </div>
      <div><b>Content: </b> <%=question.content%> </div>
      <p>
        <%= link_to raw('&#8607;'), question_up_vote_path(question) %>
      </p>
      <p>
        <%= question.votes %>
      </p>
      <p>
      <%= link_to raw('&#8609;'), question_down_vote_path(question)%>
      </p>

    </li>
    <br>
  <% end %>
</ul>

<div id="question_form_container">
  <h2> Submit a new question </h2>
  <%= form_for @question do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :content %>:
  <%= f.text_field :content %><br />

  <%= f.submit %>
  <% end %>
</div>

