<h1>DBC Overflow</h1>
<h3>Question</h3>

<% @questions.each do |question|%>
  <%= question.title%> <%= question.vote_total %><br>
  <%= link_to upvote_path(question), method: :post do %>
  <i>Upvote</i>
  <% end %>
  <%= link_to downvote_path(question), method: :post do %><br>
  <i>Downvote</i>
  <% end %>
<% end %>



<h1>Make a new Question</h1>
<%= form_for :question, url: questions_path  do |f| %>
  <p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :content %>
  <%= f.text_area :content %>
</p>
  <%= f.submit "Create" %>
<% end %>


