<% @questions.each do |question| %>
  <div class="uhhh">
    <a href ="/questions/<%= question.id %>"><h1><%= question.title %></h1></a>
    <p><%= question.content %></p>
    <a href=""><p>upvote</p></a>
    <a href=""><p>downvote</p></a>
    <p>vote totals: <%= question.vote_totals %></p>
  </div>
<% end %>

<h3> ~~~Enter New Question~~~ </h3>
<%=  form_for @question do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content %><br>
    <%= f.text_field :content%>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
