<h1><%= @quote %></h1>
<% @questions.each do |question| %>
<%= question.vote_total %>
  <%= link_to upvote_path(question), method: :post do %>
  <i class="fa fa-arrow-circle-o-up"></i>
    <% end %>
  <%= link_to downvote_path(question), method: :post do %>
    <i class="fa fa-arrow-circle-o-down"></i>
  <% end %>
  <a href="/questions/<%= question.id %>"><%= question.title %></a>
  <%= question.content %><br><br>
<% end %>

<%= render partial: 'new' %>
