
<h1><%= @quote %> </h1>
<p>we need to implement this with all the questions</p>

<ul class="questions">
  <%= render @questions %>
</ul>

<h2>Create your new question here</h2>
<%= form_for @question do |f| %>

  <p>
  <%= f.label :title %>
  <%= f.text_field :title %>
  </p>

  <p>
  <%= f.label :content %>
  <%= f.text_field :content %>
  </p>

  <%= f.submit "Create Question" %>
<% end %>
