<div class="container">
  <div id="quote">
    <p><%= @message %></p>
  </div>
  <h1> Question Index</h1>

    <div class="question-form">
    <%= form_for @question do |f| %>
      <%= f.label :title %>:
      <%= f.text_field :title %><br />

      <%= f.label :content %>:
      <%= f.text_area :content %><br />

      <%= f.submit %>
    <% end %>
  </div>

  <div class="preview">
    <h2></h2>
    <p></p>
  </div>

  <div class="header">
    <h2> Questions: </h2>
  </div>

  <div class="questions">
    <%= render @questions %>
  </div>

</div>

  <script id="entry-template" type="text/x-handlebars-template">

    <div class="question">
      <h3><a href="/questions/{{id}}">{{title}}</a></h3>

      <h4 class="thumbs-up"> Upvotes: <span>{{upvote}}</span> <%= link_to("▲", "/questions/{{id}}/upvote", class: 'thumbs-up') %></h4>

      <h4 class="thumbs-down">Downvotes: <span>{{downvote}}</span> <%= link_to("▼", "/questions/{{id}}/downvote", class: 'thumbs-down') %></h4>
    </div>

  </script>
