<h1>QUESTIONS</h1>

<% @questions.each do |question|%>
  <p>
    <span>Title:</span><%= question.title%>
    <span>Content:</span><%= question.content%>
    <span>Votes:</span><%=question.votes%>
  </p>
  <%= link_to "Show Question", controller:"questions", action:"show", id: question.id %>
  <%= link_to "Upvote", controller:"questions", action:"", id:question.id%>


<%end%>

<p>
<%= form_for @question do |f| %>
<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :content %>
  <%= f.text_field :content %>
</p>

  <%= f.submit %>
<% end %>



