<h1>DBC Overflow</h1>
<h3>Question</h3>

<% @questions.each do |questions|%>
  <div class="question">
  <ul>
    <li><a href="/questions/<%=questions.id%>">
      <%=questions.title%><br>
    </a></li>
  </ul>
<%end%>
<h1>Make a new Question</h1>
  </div>
<%= form_for :@question, url: questions_path  do |f| %>
  <p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :content %>
  <%= f.text_area :content %>
</p>
  <%= f.submit "Create" %>
<% end %>


