<h1> StackOnStacks </h1>

<hr>
<h2> Quote: <h2>
  <h3><%= @quote %></h3>
<hr>
<div id="question_container" >
<% @questions.each do |question| %>
  <div class="uhhh">
    <%= render "question", question: question %>
  </div>
<% end %>
</div>
<h3> ~~~Enter New Question~~~ </h3>
<%=  form_for @question do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content %><br>
    <%= f.text_field :content%>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
