<h2>DBC Overflow</h2>

<h3>Questions:</h3>

<div class="questions">
  <ul>
    <% @questions.order("votes desc").each do |q| %>
      <li><a href="/questions/<%= q.id %>"><%= q.title %></a>
        votes: <%=q.votes%>
        <%= button_to("△", question_upvote_path(q), method: "patch") %>
        <%= button_to("▼", question_downvote_path(q), method: "patch") %>
      </li>
    <% end %>
  </ul>
</div>

<h3>Create a new question</h3>
<%= form_for @question do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </p>
  <%= f.submit %>
<% end %>

