<div class="container">
  <div id="quote">
    <p><%= @message %></p>
  </div>
  <h1> Question Index</h1>

  <div class="header">
    <h2> Questions: </h2>
  </div>

  <div class="questions">
    <%= render @questions %>
  </div>


  <script id="entry-template" type="text/x-handlebars-template">


    <div class="question">
      <h3><a href="/questions/{{id}}">{{title}}</a></h3>
      <h4> Upvotes: {{upvote}}</h4>
      <%= form_for @question, url: '/questions/{{id}}', method: :put  do |f| %>
        <%= f.hidden_field :upvote, :value => @question.upvote + 1%>
        <div class="thumbs-up"><%= f.submit "thumbs up" %></div>
      <% end %>

      <h4>Downvotes: {{downvote}} </h4>
      <%= form_for @question, url: '/questions/{{id}}', method: :put  do |f| %>
        <%= f.hidden_field :downvote, :value => @question.downvote + 1%>
        <div class="thumbs-down"><%= f.submit "thumbs down" %></div>
      <% end %>

    </div>

  </script>


  <div class="question-form">
    <%= form_for @question do |f| %>
      <%= f.label :title %>:
      <%= f.text_field :title %><br />

      <%= f.label :content %>:
      <%= f.text_field :content %><br />

      <%= f.submit %>
    <% end %>
  </div>


</div>
