<div class="container">
  <div id="quote">
    <p><%= @message %></p>
  </div>
  <h1> Question Index</h1>

  <div class="header">
    <h2> Questions: </h2>
  </div>

  <% @questions.each do |question| %>
    <div class="question">
      <h3><%= link_to question.title, question_path(question) %></h3>

      <h4> Upvotes: <%= question.upvote%></h4>

      <%= form_for question do |f| %>
      <%= f.hidden_field :upvote, :value => question.upvote + 1 %>

      <div class="thumbs-up"><%= f.submit "thumbs up" %></div>
    <% end %>

      <h4>Downvotes: <%= question.downvote%> </h4>

      <%= form_for question do |f| %>
      <%= f.hidden_field :downvote, :value => question.downvote + 1 %>

      <%= f.submit "thumbs down" %>
    <% end %>



    </div>
  <% end %>

  <div class="question-form">
    <%= form_for @question do |f| %>
      <%= f.label :title %>:
      <%= f.text_field :title %><br />

      <%= f.label :content %>:
      <%= f.text_field :content %><br />

      <%= f.submit %>
    <% end %>
  </div>


</div>
