<h2>this is our new question making page</h2>


<%= form_for @question do |form| %>
<p>
  <%= form.label :title %>
  <%= form.text_field :title %>
</p>
<p>
  <%= form.label :content %>
  <%= form.text_area :content %>
</p>
<p>
  <%= form.submit %>
</p>
<% end %>
