<h1>Create a new Question</h1>
<!-- <p>Find me in app/views/questions/new.html.erb</p> -->
<%= form_for @question, url: {action: "create"} do |q| %>
  <p>
    <%= q.label :title %>
    <%= q.text_field :title %>
  </p>

  <p>
    <%= q.label :body %>
    <%= q.text_area :body %>
  </p>

  <p>
    <%= q.submit %>
  </p>
<% end %>
