<h1>Question</h1>
<%= @question.title %>
<p> <%= @question.content %> </p>

<ul>
<% @question.answers.each do |answer| %>
  <li><%= answer.content %> </li>
<% end %>
</ul>

<%= button_to "delete question", {:controller => :questions,
  :action => 'destroy', :id => @question.id }, :method => :delete %>

  <%= button_to "edit question", {:controller => :questions,
  :action => 'edit', :id => @question.id }, :method => :get %>

<%= render template: "questions/_new_answer" %>
