<div class="container">
  <h1> Question Show</h1>

  <h1><%= @question.title %></h1>
  <p><%= @question.content %></p>
    <%= button_to "edit", {:controller => :questions,
      :action => 'edit', :id => @question.id }, :method => :get %>

    <%= button_to "delete", {:controller => :questions,
      :action => 'destroy', :id => @question.id }, :method => :delete %>


  <div class="header">
    <h2> Answers: </h2>
  </div>

  <% @question.answers.each do |answer| %>
  <div class="answer">
    <h3><%= answer.title %></h3>
    <p><%= answer.content %></p>
  </div>
  <% end %>

  <%= form_for [@question, @answer] do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :content %>:
  <%= f.text_field :content %><br />

  <%= f.submit %>
<% end %>






</div>

