<p>
  <strong>Votes:</strong>
  <%= @question.vote_count %>
</p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @question.tag_list %>
</p>

<p>
  <strong>User:</strong>
  <%= @question.user.username %>
</p>


<strong>Answers:</strong>
<% if @question.chosen.length != 0  %>
  <h3><%= @question.chosen.first.vote_count %> <strong>Chosen: <%= @question.chosen.first.content %></strong></h3>
  <h4><%= @question.chosen.first.user.username %></h4>
  <% @question.chosen.first.comments.each do |comment| %>
  <br>
  <h5><strong>Comment: </strong><%= comment.content %> | <strong>Username: </strong><%= comment.user.username %></h5>
  <% end %>
<% end %>


<% @question.answers.each do |answer| %>
  <br>
  <h3><%= answer.vote_count %> <%= answer.content unless @question.favorite_answers.first == answer%></h3>
  <h4><%= @question.user.username %></h4>
  <% answer.comments.each do |comment| %>
    <h5><strong>Comment: </strong><%= comment.content %> | <strong>Username: </strong><%= comment.user.username %></h5>
  <% end %>
<% end %>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
