
<p><%= @question.title %> <%= button_to ' Destroy this question', @question, :confirm => 'Are you sure?', :method => :delete   %></p>

<%= link_to '<button>Edit</button>'.html_safe, controller: 'questions', action: "edit", id: @question %>

<%= @question.content %><br>

<% @answers.each do |answer| %>
  <%= answer.title %><br>
  <%= answer.content %><br>
<% end %>


<h2>Create your new answer here</h2>
<%= form_for [@question, @answer] do |f| %>

  <p>
  <%= f.label :title %>
  <%= f.text_field :title %>
  </p>

  <p>
  <%= f.label :content %>
  <%= f.text_field :content %>
  </p>

  <%= f.submit "Create Answer" %>
<% end %>
