<h1><%= @question.title %></h1>
<p><%= @question.content %></p>

<div class='answers'>
<% @answers.each do |answer| %>
  <h3><strong><%= answer.content %></strong></h3>
  <%= button_to "upvote", upvote_question_answer_path(@question, answer), method: :post %>
  <%= button_to "downvote", downvote_question_answer_path(@question, answer), method: :post %>
  <p><em>count: <%= answer.count %></em></p>
<% end %>
</div>

<%= form_for [@question, @answer] do |f| %>

  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= button_to "delete", @question, method: :delete %>

<%= button_to "edit", edit_question_path, method: :get %>
