<h2><%= @question.title %></h2>
<p><%= @question.content %></p>
<%= link_to("Upvote", "/questions/#{@question.id}/upvote", class: 'vote') %>
<span><%= @question.vote %></span>
<%= link_to("Downvote", "/questions/#{@question.id}/downvote", class: 'vote') %>

<%= render 'questions/destroy' %>
<%= render 'answers/form' %>


<ul id="answers">
  <% @answers.each do |answer| %>
    <%= render('answers/new_answer', answer: answer) %>
  <% end %>
</ul>

