<div>
  <h1><%= @question.title %></h1>
  <hr>
  <%= @question.content %>
</div>
<% @answer_set.each do |answer| %>
  <hr>
  <h3><%= answer.title %></h3>
  <p><%= answer.content %></p>
<% end %>
<hr>
<h1>Answer Question</h1>
<%= render partial: "answer/new", locals: {question_id: @question.id} %>
