<h1> Question and Answers </h1>
<h3>These are your questions you can edit and delete them.</h3>
 <p> <%= @question.title %></p>
 <p> <%= @question.content %> </p>

<p>
  <%= link_to 'Edit', edit_question_path(@question) %>
  <%= link_to 'Delete', question_path(@question),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></p>

<h3>These are your answers:</h3>
  <% @answers.each do|answer| %>
    <p>
      <%= answer.title%>
      <%= answer.content%>
    </p>
  <%end%>

  <h3>Add your answers here:</h3>
<p>
<%= form_for [@question, @answer] do |f| %>
<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :content %>
  <%= f.text_field :content %>
</p>

  <%= f.submit %>
<% end %>
</p>



