Question attributes and answers
<br>
Id: <%=@question.id%>
<br>
Title: <%=@question.title%>
<br>
Content: <%=@question.content%>
<br>
<br>
Answers:
<ul>
<% @answers.each do |answer| %>
  <li>
    <%= answer.title %> <br> <%= answer.content %>
    <p>
        <%= link_to raw('&#8607;'), answer_up_vote_path(answer) %>
      </p>
      <p>
        <%= answer.votes %>
      </p>
      <p>
      <%= link_to raw('&#8609;'), answer_down_vote_path(answer)%>
      </p>
  </li>
<% end %>
<hr>
<div id="question_form_container">
  <h2> Submit a new Answer to this Question</h2>
  <%= form_for [@question, @question.answers.build], url: question_answers_path(@question), method: :post do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :content %>:
  <%= f.text_field :content %><br />

  <%= f.submit %>
  <% end %>
</div>
