
<p><%= @question.title %>
<br>
<%= @question.content %>
<%= link_to '<button>Edit</button>'.html_safe, controller: 'questions', action: "edit", id: @question %>
<%= button_to ' Destroy this question', @question, :confirm => 'Are you sure?', :method => :delete   %></p>



<% @answers.each do |answer| %>
  vote: <%= answer.vote %><br>
  <%= button_to 'upvote', answer_upvote_path(id: answer.id ), :action => "upvote" %>
  <%= button_to 'downvote', answer_downvote_path(:id => answer.id ), action: "downvote" %>
  <%= answer.title %><br>
  <%= answer.content %><br>
<% end %>


<h2>Create your new answer here</h2>
<%= form_for [@question, @answer] do |f| %>

  <p>
  <%= f.label :title %>
  <%= f.text_field :title %>
  </p>

  <p>
  <%= f.label :content %>
  <%= f.text_field :content %>
  </p>

  <%= f.submit "Create Answer" %>
<% end %>
