<%= @question.id %>
<%= @question.title %>
<%= @question.content %>

<%= render 'questions/destroy' %>
<%= render 'answers/form' %>

<ul>
  <% @answers.each do |answer| %>
    <li>
      <h3><%= answer.title %></h3>
      <p><%= answer.content %></p>
    </li>
  <% end %>
</ul>
