<div class="container">
  <h1> Question Show</h1>

  <h1><%= @question.title %></h1>
  <p><%= @question.content %></p>
    <%= button_to "edit", {:controller => :questions,
      :action => 'edit', :id => @question.id }, :method => :get %>

    <%= button_to "delete", {:controller => :questions,
      :action => 'destroy', :id => @question.id }, :method => :delete %>

  <p>New Answer:</p>
  <div class="answer-form">
    <%= form_for [@question, @answer] do |f| %>
      <%= f.label :title %>:
      <%= f.text_field :title %><br />

      <%= f.label :content %>:
      <%= f.text_field :content %><br />

      <%= f.submit %>
    <% end %>
  </div>

  <div class="header">
    <h2> Answers: </h2>
  </div>

  <div class="answers">
    <% @answers.each do |answer| %>
      <div class="answer">
        <h3><%= answer.title %></h3>
        <p><%= answer.content %></p>

        <h4 class="thumbs-up">
          Upvotes:
          <span><%= answer.upvote%></span>
          <%= link_to("▲", "/answers/#{answer.id}/upvote") %>
        </h4>

        <h4 class="thumbs-down">
          Downvotes:
          <span><%= answer.downvote%></span>
          <%= link_to("▼", "/answers/#{answer.id}/downvote") %>
        </h4>

      </div>
    <% end %>
  </div>

</div>

  <script id="answer-template" type="text/x-handlebars-template">

    <div class="answer">
      <h3>{{title}}</h3>

      <h4 class="thumbs-up"> Upvotes: <span>{{upvote}}</span> <%= link_to("▲", "/answers/{{id}}/upvote", class: 'thumbs-up') %></h4>

      <h4 class="thumbs-down">Downvotes: <span>{{downvote}}</span> <%= link_to("▼", "/answers/{{id}}/downvote", class: 'thumbs-down') %></h4>
    </div>

  </script>
