<h2>Q: <%= @question.title %></h2>
<p>
    <%= @question.content %>
<p>

<%= form_for @question, :html => {:method => :delete} do |f| %>
<%= f.submit "Delete" %>
<% end %>

<a href="/questions/<%=@question.id%>/edit">Edit Question</a>

<h2>Answers:</h2>
<% @answers.each do |answer| %>
  <h4><%= answer.title %></h4>
  <p><%= answer.content %></p>
  <br>
<% end %>

<hr>
<h3>Post an answer:</h3>
<%= form_for [@question, @answer] do |form| %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :content %>
    <%= form.text_area :content %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
