<div>
  <h1><%= @question.title %></h1>
  Point Count: <b class="question_point_count"><%= @question.point_count %></b>

  <%= link_to "▲", "/questions/#{@question.id}/upvote", class: "question_upvote" %>
  <%= link_to "▼", "/questions/#{@question.id}/downvote", class: "question_downvote"%>

  <hr>
  <%= @question.content %>
  <%= button_to "deletee Question", { action: "destroy", id: @question.id }, method: :delete, data: { confirm: "Are you sure?" } %>
  <a href="/questions/<%=@question.id%>/edit">Edit Question</a>
</div>
<hr>
<div id="answer_container">
<% @answer_set.each do |answer| %>
  <%= render partial: "answers/show", locals: {answer: answer} %>
<% end %>
</div>
<h1>Answer Question</h1>
<%= render partial: "answers/new", locals: {question_id: @question.id} %>
