<h2>Question: <%= @question.title %></h2>
<p><%= @question.content %><p><br>
<div style="display:inline">
  <%= form_for @question, method: :delete  do |f| %>
  <%= f.submit :value => "Delete" %>
  <% end %>

  <%= form_for @question, :url => {:action => "edit"}, :method => "get"  do |f| %>
  <%= f.submit :value => "Edit" %>
  <% end %>
</div>


  <hr>
<ul><% @answers.each.with_index(1) do |answer, ans_ind| %>
  <h3><%= answer.title %></h3>
  <p><%= answer.content %></p>
  <%= link_to "upvote", upvote_answer_path(answer), method: :post %>
  <%= link_to "downvote", downvote_answer_path(answer), method: :post %>
<% end %></ul>

<%= render partial: "answers/new" %>
