<h1>DBC Overflow</h1>
<h1>Your Question</h1>
<p><%= @question.content %></p>



<h2>All answers:</h2>
<% @question.answers.each_with_index do |answer, index| %>
<h4><%= index + 1%>. <%= answer.title %></h4>
<p><%= answer.content %></p>

<% end %>

<%= form_for [@question, @answer]  do |f| %>
  <p>
    <%= f.text_field :title %>
  </p>
  <p>
    <%=f.text_area :content %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

