<h1>Question</h1>
<%= @question.title %>
<p> <%= @question.content %> </p>
<%= button_to "delete question", {:controller => :questions,
  :action => 'destroy', :id => @question.id }, :method => :delete %>

  <%= button_to "edit question", {:controller => :questions,
  :action => 'edit', :id => @question.id }, :method => :get %>

<ul>
  <% answers = @question.answers.order(vote_counter: :desc)%>
<% answers.each do |answer| %>
<%= button_to "△", {:controller => :answers,
    :action => 'upvote', :id => answer.id }, :method => :patch %>

  <%= button_to "▽", {:controller => :answers,
    :action => 'downvote', :id => answer.id }, :method => :patch %>
  <%= answer.vote_counter %>

  <li><%= answer.content %> </li>
<% end %>
</ul>


<%= render template: "questions/_new_answer" %>
