<%= render 'answers/answers_handlebars' %>
<%= render 'layouts/errors_handlebars' %>

<div id='questions'>
  <%= render @question %>
</div>

<%= render 'questions/destroy' %>

<div id='answer_form'>
  <%= render 'answers/form' %>
  <div id='preview_pane'>
  </div>
</div>

<ul id='answers'>
  <%= render @answers %>
</ul>
