<h3> Question: </h3>

<h3>
  <%= @question.title %><br>
</h3>
<p> <%= @question.content %> </p>

<%= button_to "delete", { :controller => :questions, :action => 'destroy', :id => @question.id }, :method => :delete %>

<%= button_to "edit", { :controller => :questions, :action => 'edit', :id => @question.id }, :method => :get %>
<br>

<h3>Answers:</h3>

<div class = "answers" id="answer-container">
  <ol>
  <% @answers.each do |answer| %>
    <li>
      <%= render :partial => "/answers/answertemp", :locals=> { :answer => answer } %>
    </li>
  <% end %>
  </ol>

</div>


<br>
<h3> ~~Enter New Answer~~ </h3>

<%= form_for [@question, @answer] do |f| %>

<p>
  <%= f.label :title %> <br>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :content %> <br>
  <%= f.text_field :content %>
</p>

<p>
  <%= f.submit %>
</p>

<%end%>
