<h1>Question & Answers</h1><br>

<h1><%= @question.title %><br></h1>


<p><%= link_to "Home", questions_path %></p>
<div>
  <p class="vote_count_<%=@question.id%>"><%=@question.vote_count%></p>
</div>
  <div class="upvote">
    <%= button_to 'upvote', upvote_question_path(@question), method: :put %>
  </div>

  <div class="downvote">
    <%= button_to 'downvote', downvote_question_path(@question), method: :put %>
  </div>

  <div class="edit">
    <%= link_to 'Edit', edit_question_path(@question), method: :get%>
  </div><br>

</div>

<div class="md-form">
  <h2></h2>
  <p></p>
</div>

<div class="answer_form">
  <h2>New Answer Form (In sweet markdown!)</h2>
  <%= form_for [@question, @answer] do |f| %>
    <%= f.label :title %>:
    <%= f.text_area :title %><br>

    <%= f.label :text %>:
    <%= f.text_area :text %><br>

    <%= f.submit %>

  <% end %>
</div>

<hr>

<h3>Previous Answers</h3>

<% @answers.each do |answer| %>
  <h2><p><%= answer.title %></p></h2>
  <p><%= answer.text %></p>
<% end %>
