<div class="container">

  <h1><%= @question.title %></h1>

  <p><%= @question.content %></p>

  <% @question.answers.each do |answer| %>
  <div class="answer">
    <h3><%= answer.title %></h3>
    <p><%= answer.content %></p>
  </div>
  <% end %>

  <%= form_for [@question, @answer] do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :content %>:
  <%= f.text_field :content %><br />

  <%= f.submit %>
<% end %>






</div>

