<h1><%=@question.title%></h1>
<p><%=@question.body%></p>

<%= form_for @question, method: :delete do |f| %>
  <%= f.submit "DELETE YOUR QUESTION" %>
<% end %>

<%= button_to "Edit", edit_question_path(@question), method: :get %>

<h3>Answers:</h3>
<% @question.answers.each do |a| %>
  <ul>
  <p>
    <li>
      <p>id: <%= a.id %></p>
      <p>body: <%= a.body %></p>
      <p>Answer by: </p>
      Score: <%= a.score %>
    </li>
  </p>
</ul>
<%end%>
<div id="post_answer">
  <h3> Post a new Answer </h3>
  <%= form_for [@question, @answer] do |a| %>
  <p>
    <%= a.label :body %>
    <%= a.text_area :body %>
  </p>
  <p>
    <%= a.submit %>
  </p>
  <% end %>
</div>
