<h1>Question: <%= @question.title %></h1>
<p><%= @question.content %></p>
<button><%= link_to "Edit", edit_question_path(@question) %></button>

<%= form_for @question, :method => :delete do |f| %>
  <%= f.submit  "Delete" %>
<% end %>


<p><%= render "answers/new" %></p>

<h2>All answers:</h1>
<div id="answer_list">
  <% @question.answers.sort_by{ |answer| answer.created_at }.each_with_index do |answer, index| %>
    <div class="answer">
      <%= render "answers/answer", answer: answer, index: index %>
    </div>
  <% end %>
<div>
