<h1>Question View</h1>
<div class="question">
  <ul>
   <%= render @question %>
   <%= @question.content %>
  </ul>
</div>

<h1>Answers for this question</h1>
<ul class="answers">
  <%= render @answers %>
</ul>

<h2>Create your new answer here</h2>
<%= form_for [@question, @answer] do |f| %>

  <p>
  <%= f.label :title %>
  <%= f.text_field :title %>
  </p>

  <p>
  <%= f.label :content %>
  <%= f.text_field :content %>
  </p>

  <%= f.submit "Create Answer" %>
<% end %>
