<h2><%= @question.title %></h2>
<p><%= @question.content %></p>
<%= link_to("▲", "/questions/#{@question.id}/upvote", class: 'vote') %>
<span><%= @question.vote %></span>
<%= link_to("▼", "/questions/#{@question.id}/downvote", class: 'vote') %>

<%= render 'questions/destroy' %>

<div class="live-md">
	<h2></h2>
	<p></p>
</div>
<%= render 'answers/form' %>


<ul id="answers">
  <% @answers.each do |answer| %>
    <%= render('answers/new_answer', answer: answer) %>
  <% end %>
</ul>

