<h2>Question: <%= @question.title %></h2>
<p><%= @question.content %><p><br>
  <%= form_for @question, method: :delete  do |f| %>
  <%= f.submit :value => "Delete" %>
  <% end %>

  <hr>
<ul><% @question.answers.each.with_index(1) do |answer, ans_ind| %>
  <h3><%= answer.title %></h3>
  <p><%= answer.content %></p>
<% end %></ul>

<%= render partial: "answers/new" %>
