<p><%= @answer.answer %></p>
<%= link_to "upvote", like_question_answer_path(@question, @answer), method: :put %>
<%= @answer.get_upvotes.size %>
<%= link_to "downvote", dislike_question_answer_path(@question, @answer), method: :put %>
<%= @answer.get_downvotes.size %>
<br>Score: <%= @answer.score %>
